<h3><%= title %></h3>
<table>
  <tr>
    <td align="center">
      <img src ="/images/me.jpg" width=150 height=150 border=1 alt="Autor">
    </td>
    <td align="left" style="padding-left:40px;">
      <ul>
        <li>Fernando Ponce S&aacute;nchez</li>
        <li>Ingeniero t&eacute;cnico de telecomunicaciones, especialidad telem&aacute;tica</li>
      </ul>
    </td>
  </tr>
</table>
